{% extends "base.html" %}

{% block title %}
Password Reset
{% endblock %}

{% block content %}

<div class="container mt-5">


<h2>Password Reset Request</h2>

<p>Hello {{ user.first_name }},</p>

<p>
    We received a request to reset the password
    for your MSAN News Blog account.
</p>

<p>
    Click the button below to choose a new password:
</p>

<p>
    <a
        href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
        style="
            display: inline-block;
            padding: 12px 20px;
            background-color: #007bff;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
        "
    >
        Reset My Password
    </a>
</p>

<p>
    If the button doesn't work, copy and paste this link
    into your browser:
</p>

<p>
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</p>

<p>
    If you did not request a password reset,
    you can safely ignore this email.
</p>

<p>
    Thank you,<br>
    MSAN News Blog Team
</p>



</div>

</body>
</html>
