{% extends "base.html" %}

{% block title %}
    Upload Image
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-lg-7">

            <h1>Upload New Image</h1>

            <p>
                Add an image to your media library.
            </p>

            <hr>


            <form
                method="POST"
                enctype="multipart/form-data"
            >

                {% csrf_token %}


                <div class="mb-3">

                    <label class="form-label">
                        Image Title
                    </label>

                    <input
                        type="text"
                        name="title"
                        class="form-control"
                        placeholder="Enter image title"
                        required
                    >

                </div>


                <div class="mb-3">

                    <label class="form-label">
                        Choose Image
                    </label>

                    <input
                        type="file"
                        name="image"
                        class="form-control"
                        accept="image/*"
                        required
                    >

                </div>


                <button
                    type="submit"
                    class="btn btn-primary"
                >
                    Upload Image
                </button>


                <a
                    href="{% url 'media_management' %}"
                    class="btn btn-secondary"
                >
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}